:host {
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

swiper-container {
  background: #eee;
  display: flex;
  height: 35em;

  width: auto;
  flex-shrink: 0;

  box-shadow: var(--box-shadow);
  padding: 0px 50px 0px 50px;

  swiper-slide {
    justify-content: center;
    align-items: center;
    font-size: 18px;
    display: flex;
    padding: 3px;


    /*
      usar o ::ng-dep para modificar estilos dentro de outros componentes
      como precisamos alterar o tamanho do card atraves do swiper, há um ajuste na propriedade width do card,
      e para acessá-la, o ng-deep solucionou o problema
    */
    ::ng-deep app-card{
      width: 100%;
      padding: 10px;

      .card {
        &.container{
          max-width: 100%;
          width: 100%;
          height: 470px;
        }
      }
    }
  }
}

//responsivity

@media(max-width: 1280px) {
  swiper-container {
    //padding: 0px 50px 0px 50px;
    padding: 0px 15px 0px 15px;

    swiper-slide {
      ::ng-deep app-card {
        padding: 0px;

        .card {
          &.container {
            height: 470px;
          }
        }
      }
    }
  }
}

@media(max-width: 950px) {
  //pesquisar sobre a propriedade ::part
  swiper-container::part(button-next),
  swiper-container::part(button-prev) {
    display: none;
  }
}

@media (max-width: 820px) {
  swiper-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    width: 100%;

    swiper-slide {
      flex-shrink: 0;

      ::ng-deep app-card {
        padding: 5px;

        .card {
          &.container {
            width: 100%;
            max-width: 290px;
            height: 465px;
          }
        }
      }
    }
  }

}

@media(max-width: 660px) {
  swiper-container{
    swiper-slide{
      width: 100%;

      ::ng-deep app-card {
        width: auto;
      }
    }
  }
}
