.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 45px;
  align-items: center;

  .text {
    margin-bottom: 2rem;
    text-align: center;

    h1 {
      color: #88c7fc;
    }

    p {
      color: #7469d1;
      margin-top: 1rem;
      font-size: 1.2rem;
      font-weight: 500;
    }

    button {
      background: transparent;
      border: none;
      margin-top: 20px;
      font-size: 15px;
      font-weight: 700;
      color: #fff;
      background: darkturquoise;
      padding: 12px;
      border-radius: 15px;
      cursor: pointer;
      transition: all ease-in-out 0.5s;

      &:hover{
        box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
        background: lightblue;
        color: mediumblue;
      }
    }
  }

  .image-container {
    width: 100%;
    max-width: 800px;
    margin-block: 4rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border: solid 2px blue;
    }
  }
}

@media (max-width: 900px) {
  .container {
    padding: 20px;
    grid-template-columns: 1fr;

    .text {
      margin-bottom: 0;

      p {
        text-align: start;
      }
    }

    .image-container {
      margin-block: 2rem;
    }
  }
}

@media(max-width: 390px) {
  .container{
    .text{
      p{
        font-size: 14px;
      }
    }
  }
}
