@-webkit-keyframes AnimationCardBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationCardBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationCardBackground {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

:host{
  --font-family: "Maven Pro", sans-serif;
}

.container {
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 45px;
    margin-bottom: 45px;

    background: aliceblue;

    border-top: solid 1px black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

    font-family: var(--font-family);

    .content {
      display: grid;
      gap: 20px;

      .group-1{
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px;

        padding: 0 40px;

        .text {
          font-size: 22px;
          text-align: justify;

          p{
            font-size: 20px;
            margin-bottom: 25px;

            span{
              font-weight: 700;
              color: blueviolet;
            }
          }
        }
      }

      .group-2{
        width: 100%;
        background-color: gainsboro;
        border-bottom: 2px solid blueviolet;
        border-top: 2px solid blueviolet;

        .text{
          h1{
            text-align: center;
            color: blueviolet;
          }
        }

        .content{
          padding: 0 40px;

          .card-container{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .card-content{
              width: 300px;

              padding: 9px 11px;
              margin: 1rem;

              transition: all ease-in-out 0.5s;

              &:hover{
                transform: scale(1.05);
              }

              .image-container{
                width: 100%;

                img{
                  width: 100%;
                  height: 195px;
                  object-fit: cover;
                  border-radius: 15px;

                  background: linear-gradient(270deg, #dabcdf, #baa2d5, #6093b6);
                  background-size: 600% 600%;
                  -webkit-animation: AnimationCardBackground 50s ease infinite;
                  -moz-animation: AnimationCardBackground 50s ease infinite;
                  animation: AnimationCardBackground 50s ease infinite;
                }
              }

              .text-container{
                display: grid;
                gap: 12px;

                h3{
                  text-align: center;
                  font-size: 18px;
                  font-weight: 900;
                }

                p{
                  font-family: var(--font-family);
                  text-align: justify;
                  font-size: 15px;

                  letter-spacing: -0.5px;

                  font-weight: 500;

                  span{
                    font-weight: 800;
                  }
                }
              }
            }
          }
        }

      }

    }
}

@media(max-width: 550px) {
  ::ng-deep app-title{
    .title-page {
      text-align: center !important;
    }
}
}
