.footer{
  padding-left: 5rem;
  background: #24262b;

  border-top: solid 2px blueviolet;

  .container {
    padding: 50px 25px 40px 25px;
    display: flex;
    justify-content: space-around;

    flex-wrap: wrap;

    max-width: 1170px;
    margin: auto;

    .row {
      display: contents;

      .group {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 20%;

        h4 {
          font-size: 18px;
          font-weight: 700;
          color: lightgray;
          transition: all ease-in-out 0.5s;

          &:hover{
            color: whitesmoke;
          }
        }

        ul{
          display: flex;
          flex-direction: column;
          gap: 5px;

          li{
              list-style: none;

            a{
              text-decoration: none;
              color: #fff;
              font-weight: 500;
              cursor: pointer;
              transition: all ease-in-out 0.5s;

              &:hover{
                padding-left: 5px;
                font-weight: 800;
              }

            }
          }
        }

        .content {
          display: grid;
          gap: 8px;

          span{
            color: #fff;
            font-weight: 500;
          }

          .social-media-icons{
            display: flex;
            gap: 12px;

            a{
              height: 40px;
              width: 40px;
              text-align: center;
              align-content: center;
              border-radius: 50%;
              background: azure;
              color: #060606;
              cursor: pointer;
              box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
              transition: all ease-in-out 0.5s;

              &:hover{
                background: #060606;
                color: #fff;
              }
            }
          }
        }
      }
    }

    .copyright {
      display: flex;
      flex-direction: column;
      text-align: center;
      color: #fff;
      font-weight: 500;
      padding-top: 45px;
      margin: 0 auto;
    }
  }

}

@mixin widthGroupItens($width, $paddingBottom: 50px) {
  .footer{
    .container{
      justify-content: initial;
      .row{
        .group{
          width: $width;
          padding-bottom: $paddingBottom;
        }
      }
    }
  }
}

@media (max-width: 1100px) {
  @include widthGroupItens(25%);
}

@media(max-width: 950px) {
  @include widthGroupItens(33%);
}

@media (max-width: 760px) {
  @include widthGroupItens(50%);
}

@media(max-width: 515px) {
  @include widthGroupItens(100%);
}
