:host {
  --border-radius-image: calc(var(--border-radius-card) - 2px) calc(var(--border-radius-card) - 2px) 0 0;

  --box-shadow-image: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  --border-color-card-dafault: solid black 3px;

  --font-family-card: "Maven Pro", sans-serif;

  --background-card-default: ghostwhite;

  --color-description-card: #333333;

  --color-title-card: #282828;

  --border-radius-card: 15px;

  --line-height-text: 1.3em;

}

@mixin card-container {
  background: var(--background-card-default);
  border: var(--border-color-card-dafault);
  border-radius: var(--border-radius-card);
  width: 300px;
  height: 440px;
}

@mixin line-limit($limit) {
  line-height: var(--line-height-text);

  -webkit-line-clamp: $limit;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: -webkit-box;
  overflow: hidden;

}

.card {

  &.container {

    @include card-container();

    .content {

      &.image {
        height: 50%;

        img {
          border-radius: var(--border-radius-image);
          box-shadow: var(--box-shadow-image);
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

      }

      &.text {
        padding: 10px 10px 0px 11px;
        display: grid;
        gap: 15px;

        h3, p {
          font-family: var(--font-family-card);
        }

        h3 {
          color: var(--color-title-card);
          text-align: justify;
          font-weight: 900;
          font-size: 18px;

          @include line-limit(4);
        }

        p {
          color: var(--color-description-card);
          font-size: 18px;

          @include line-limit(5);
        }
      }
    }
  }
}
