.title-page {
  text-align: center;
  padding: 20px 15px 20px 15px;
  // text-shadow: 3px 3px 6px rgba(0, 0, 0, 1);
  font-size: 20px;
  color: darkturquoise;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  background: aliceblue;
}
